body{
    margin: 0;
    padding: 10px;

}
.title-heading{
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    height: 50px;
   
   
}
.heading{
    
}
.register{
    text-align: center;
    margin-top: 10%;
}
.login{
    text-align: center;
   
}
.buttons{
    margin-top: 22px;
   
}
.login{
    text-align: center;
    margin-top: 10%;
}
.student-row{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 20px;
    margin-top: 10px;
    border: 2px solid blueviolet;
    border-collapse: collapse;
    background-color: rgb(142, 178, 34);
   
}
.studentData-form{
    text-align: center;
    font-family: sans-serif;
    margin-top: 85px;
    
}
.studentData-form label{

}
