body{
    margin: 0;
    padding: 10px;

}
.title-heading{
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    height: 50px;
   
   
}
.heading{
    
}
.register{
    text-align: center;
    margin-top: 10%;
}
.login{
    text-align: center;
   
}
.buttons{
    margin-top: 22px;
    border-radius: 25%;
    border: 1px solid aqua;
}
.login{
    text-align: center;
    margin-top: 10%;
}
.student-row{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 20px;
    margin-top: 10px;
    border: 2px solid blueviolet;
    border-collapse: collapse;
    background-color: rgb(142, 178, 34);
   
}

.student-data{
    background-color:blueviolet;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    margin-top: 50px;
    font-size: 18px;
    font-family: cursive;
}
.button-field{
    margin-left: 28%;
}
.interview-data{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    font-size: 18px;
    font-family: cursive;
}
.input-button{
    margin-top: 25px;
    margin-left: 21%;
}
#interview-buttons{
    margin-top: 29px;
    margin-left: 85%;
}
.para{
    color:steelblue
}
#about-interview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    font-size: 18px;
    font-family: cursive;
}